*{
	padding: 0;margin: 0;margin: 0;
	list-style: none;
}
#canvas{
	border: 1px red solid;
	float: left;
}
#canvas_tmp{
	display: none;
}
#table{
	float: left;
	clear: left;
}
td{
	padding: 0.2rem 0.5rem;
	border: 1px solid red;
	color: red;
}
#ul_font{
	position: absolute;
	text-align: center;
	display: none;
}
#ul_font>li{
	text-align: center;
	border: 1px blue solid;
}
#color{
	width: 400px;
	height: 40px;
	border: 1px solid red;
	clear: left;
	float: left;
}
#color_parent{
	padding: 0;
}