*{
	padding: 0;margin: 0;margin: 0;
	list-style: none;
}
#canvas{
	float: left;
}

#canvas_tmp{
	display: none;
}
#table{
	float: left;
	clear: left;
	width: 100%;
}
td{

	text-align: center;
	padding: 0.2rem 0;
	border: 1px solid red;
	color: red;
}
.ul_font{
	position: absolute;
	z-index: 999;
	text-align: center;
	display: none;
}
.ul_font>li{
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	border: 1px blue solid;
	background: #fff;
}
#color{
	border: 1px solid red;
	border-left: none;
	border-right: none;
	clear: left;
	float: left;
}
#color_parent{
	padding: 0;
}
#mathFunction{
	display: none;
	position: absolute;
	overflow: hidden;
	padding: 0.5rem 1rem;
	border:1px red solid;
	background: rgba(200,200,200,0.8);
	margin: 50% auto;
}
#mathFunction input{
	background: rgba(200,200,200,0.7);
	width: 99%;
	border:none;
	text-indent: 1rem;
}
#rect_box{
	position: absolute;
}
#rangeBox{
	display:none;
	width: 70%;
	position: absolute;
	top:50%;
	left: 15%;
	z-index: 999;
	background: rgba(250,250,250,0.8);
	border: 1px rgba(250,250,250,0.8) solid;
}
#rangeBox input{
	float: left;
	width: 70%;
}
#rangeBox div{
	text-align: center;
	overflow: hidden;
}
#rangeBox_drag{
	width:100%;
	height: 2rem;
	background: rgba(250,2,2,.4);
}
#rangeBox span{
	float: left;
	line-height: 1.4rem;
}
#rangeBox>div>div{
	width:15%;
}
#sureButton{
	width: 100%;
	height: 20px;
	background: rgba(0,255,0,.4);
}